[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
pylint = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
jupyter = "*"
opencv-contrib-python = "*"
scikit-image = "*"
gif2numpy = "*"
pillow = "*"

[requires]
python_version = "3.7"
