Options +FollowSymLinks -MultiViews

# Turn mod_rewrite on
RewriteEngine On

# Keep so previously distributed links work.
RewriteCond %{REQUEST_URI} ^/ll/flag_1.html$
RewriteRule ^(.*) /ll/flag/1 [R=301]

RewriteCond %{REQUEST_URI} ^/ll/flag/([0-9]*)$
RewriteRule ^(.*)$ /ll/index.html?page=%1.html [P]
